.homepages{
    background-color: rgb(49, 140, 170);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-align: center;
    border-radius: 20px;
    padding: 1em;
    margin: 0.5em;
    box-shadow: 2px;
    display: flex;}
.nav-links{
    background-color: rgb(49, 140, 170);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-align: left;
    border-radius: 20px;
    padding: 1em;
    margin: 0.5em;
    float: right;
    box-shadow: 2px;}


head{
    background-color: aquamarine;
    text-align: center !important;
}
.main-header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: justify;
    border-radius: 20px;
    padding:1.5em;
    margin: 0.5em;
}
h2.Bags{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    color: darkblue;
}
a{
    color: white;
    font-size: larger;
}
a.hover{
    color: black;
    text-decoration: underline;
}
.text-footer{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    text-align: center;
    color : red;
    padding:10px,10px;
    margin:15px,15px;
    border-radius: 25px;
}
strong.society{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: darkblue;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-align: justify;
    color: black;
    margin: 0.5em;
    padding: 0.5em;}
img{
    box-shadow: 10% 10% 20px rgba(0, 0, 0, 0.5);
    height:200px;
    margin: 2px;
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 1em;
    transition: transform 0.2s;
    border-radius: 10px;
    size: 250px;
    width: 200px;
    height: 150px;
}
body{
    background: url("./Langage\ Bags.jpg") no-repeat center center fixed;
    background-size: cover;

}
.nav-footer{
    background-color: rgb(61, 94, 105);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-align: center;
    border-radius: 20px;
    padding: 1em;
    margin: 0.5em;
    box-shadow: 2px;
    display:flex;
}
footer{
    background-color: rgb(61, 94, 105);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-align: center;
    padding: 1em;
    margin: 0.5em;
    box-shadow: 2px;
    display: flex;
}
